    <!-- Accommodation Section -->
    <section id="accommodation" class="content-section text-center">
        <div class="text-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Übernachtung</h2>
                    <p>
                        Das Hotel ist exklusiv für unsere Feier reserviert und bietet genügend Zimmer.
                        <br><br>
                        55€ pro Person im Doppelzimmer inkl. Frühstück<br>
                        75€ pro Person im Doppelzimmer inkl. Halbpension<br>
                        20€ Einzelzimmerzuschlag<br>
                        Kinder erhalten Ermässigung
                        <br><br>
                        Möchtet ihr schon ein paar Tage vor der Hochzeit das schöne Tirol genießen (z.B. <a href="https://www.axamer-lizum.at/de/das-wandergebiet-axamer-lizum.html" target=_blank>Axamer-Lizum</a>), oder braucht ihr danach noch einen Tag, um euch von der Party zu erholen?<br>
                        Kein Problem!<br>
                        Falls sich genügend Interessenten finden, besteht die Möglichkeit, Zimmer für mehrere Nächte zu buchen.
                        Ab 7 Zimmern pro Tag öffnet das Hotel für euch mit Frühstückspension und ab 10 Zimmern mit Halbpension.
                        <br><br>
                        Ab 2 Nächten ist im Zimmerpreis die "<a href="https://www.innsbruck.info/destination/unterkuenfte/welcome-card/welcome-card-sommer.html" target=_blank >Welcome Card Sommer</a>" inkludiert.
                        <br><br>
                        <strong>Bitte gebt uns bei der Anmeldung Bescheid, von wann bis wann ihr gerne ein Zimmer haben möchtet. Im Februar werden wir euch dann informieren, für welche Tage sich genügend Gäste gemeldet haben.</strong>
                    </p>
                </div>
            </div>
            <img class="accommodation-picture" src="/img/bed.jpg" >
        </div>
    </section>