    <!-- Dresscode Section -->
    <section id="dresscode" class="content-section text-center">
        <div class="text-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Dresscode</h2>
                    <h4>                    
                    Lange Hose, kurze Hose, Strumpfhose, Unterhose, Lederhose, Kleid, Dirndl oder Socken
                    </h4>
                    <p>
                    Wir heiraten in Tracht. 
                    <br>
                    Es würde uns freuen, wenn ihr mit festlicher oder traditioneller Kleidung unserem Hochzeitstag eine feierliche Note verleiht.
                    </p>
                </div>
            </div>
            <img class="accommodation-picture" src="/img/shoes.jpg" >
        </div>
    </section>