    <!-- Gifts Section -->
    <section id="gifts" class="content-section text-center">
        <div class="text-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Geschenke</h2>
                    <p>Das beste Geschenk für uns ist eure Anwesenheit bei der Hochzeit.<br>
                       Wenn ihr aber mehr geben wollt, dann würden wir uns über einen Beitrag für unsere Reisekassa freuen.</p>
                </div>
            </div>
            <img class="accommodation-picture" src="/img/heart_gray.jpg" >
        </div>
    </section>