    <!-- Invitation Section -->
    <section id="invitation" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    <br>
                    Wir wollen uns bei einer freien Trauung vor unseren engsten Freunden und Verwandten das Ja-Wort geben. Anschließend laden wir euch zum gemeinsamen Essen, Trinken, Lachen, Plaudern, Tanzen und Feiern ein. 

                    <br><br>
                    <strong> Die freie Trauung beginnt um 14 Uhr. </strong>
                    <br><br>

                    Da wir nun auch selbst wissen, wie es Eltern geht, sind natürlich auch Kinder herzlich willkommen.
                    <br><br>
                    <strong>Bitte gebt uns bis Ende Jänner 2021 Bescheid, ob ihr kommt.</strong>
                </p>
            </div>
        </div>
    </section>