    <!-- Location Section -->
    <section id="location" class="content-section text-center">
        <div class="row">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Anreise</h2>
                    <p>
                    Sowohl die freie Trauung, als auch Feier, finden im <a href="https://www.lizum1600.at/" target="_blank" >Hotel Lizum 1600</a> statt.<br>
                    Das Hotel befindet sich direkt im Skigebiet Axamer-Lizum, circa 20 Minuten südwestlich von Innsbruck.</p>
                    <p>
                    Gegen Ende der Fahrt leitet euch das Navi vielleicht falsch. Ihr müsst zum anderen Ende des Skigebiet-Parkplatzes und ab dort folgt ihr einfach dem Wegweiser "Kompetenzzentrum Lizum 1600".<br>
                    Direkt beim Hotel sind genügend Parkplätze vorhanden.
                    </p>
                </div>
            </div>
        </div>
    </section>