 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    Wir sagen Ja!
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from invitation link when scrolled up past invitation section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#invitation">Einladung</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Anreise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#accommodation">Übernachtung</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#dresscode">Dresscode</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#songs">Musikwunsch</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#gifts">Geschenke</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>