    <!-- Songs Section -->
    <section id="songs" class="container content-section text-center">
        <div class="text-section">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Musikwunsch</h2>
                <p>Welches Lied darf deiner Meinung nach bei einer Party auf keinen Fall fehlen?</p>
                <form class="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeHs9YSRargEM9eqbOqj0fjF_2vmiVT5Gac-_MpVLGQIaIZaQ/formResponse">
                    <label>Dein Name</label>
                    <br>
                    <input name="entry.1937602583" type="text" required class="form-input"/>
                    <br>
                    <br>
                    <label>Dein Musikwunsch</label>
                    <br>
                    <input name="entry.2091325767" type="text" required class="form-input" />
                    <br>
                    <br>
                    <input type="submit" value="Senden"  class="btn btn-default btn-lg form-button"/>
                </form>
            </div>
            
        </div>
    </section>