<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include invitation.html %}
    {% include location.html %}
    {% include map.html %}
    {% include accommodation.html %}
    {% include dresscode.html %}
    {% include songs.html %}
    {% include gifts.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>